body {
  font-family: $serif;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

p {
  margin: 1em 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: $link-visited;
}

blockquote {
  margin: 1em 2.5em;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

hr {
    display: block;
    margin: .5em auto;
    border-style: inset;
    border-width: 1px;
}

u, ins {
    text-decoration: underline;
}

strong, b {
    font-weight: bold;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

tt, code, kbd, samp, pre {
    font-family: $monospace;
}

pre {
    display: block;
    white-space: pre;
    margin: 1em 0;
    width: 100%;
    overflow: scroll;
}

mark {
    background-color: yellow;
    color: black;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

s, strike, del {
    text-decoration: line-through;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}
