.archive-title {
  font-family: $sans-serif;
  text-transform: uppercase;
  color: $vc-burgundy;
}

.archive-post-title {
  font-size: 1.4em;
  margin: 0;
  margin-bottom: .2em;
  
  a {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
  }
}

.archive-post {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  min-height: 150px;
  position: relative;
}

.archive-meta {
  color: #666;
  margin-bottom: .5em;
  font-size: .9em;
}

.archive-image {
  float: left;
  width: 100%;
}

.archive-post-content {
  margin: 0;
  line-height: 1.3;
}

