.archive-title {
  font-size: 2em;
  margin: 0;
  margin-top: .5em;
  margin-bottom: .25em;
  color: $font-color;
}

.archive-post-title {
  font-size: 1.3em;
  margin: 0;
  font-family: $sans-serif;
  margin-bottom: .1em;
  line-height: 1.2;
  
  a {
    color: $font-color;
    text-decoration: none;
    font-weight: bold;
  }
}

.archive-post {
  padding: 1em .5em;
  margin: 0;
  margin-bottom: 1em;
  background-color: #f9f9f9;
  border: 1px solid #f3f3f3;
  min-height: 150px;
  position: relative;
  border-radius: 2px;
}

.archive-post:hover {
  background-color: #f3f3f3;
}

.archive-meta {
  color: #666;
  margin-bottom: .5em;
  font-size: .87em;
  font-family: $sans-serif;
}

.archive-image {
  float: left;
  width: 100%;
}

.archive-post-content {
  margin: 0;
  line-height: 1.3;
}

