.main-footer {
  background-color: #525252;
  padding:0;
  font-family: $sans-serif;
  font-size: .8em;
  margin-top: 1em;
  color: #bfbfbf;
  a { color: inherit; }
}

.footer-copyright {
  background-color: #303030;
  padding: 2em 0;
}

.footer-menu-list {
  display: flex;
  list-style-type: none;
  margin:0;
  padding:0;
  flex-flow: row wrap;
  padding: 2em 0 3em;
}

.footer-menu-list li {
  flex-basis: 100%;
  margin:0;
  padding:0;

  a {
    display: block;
    padding: 1.2em 0 .5em;
    border-bottom: 1px solid #444;
  }
}

@media ($larger-than-mobile) {
  .footer-menu-list li {
    flex-basis: 50%;
    a { width: 90%; }
  }
}

@media ($larger-than-desktop) {
  .footer-menu-list li {
    flex-basis: 25%;
  }
}

.copyright {
  padding: 1em 0;
}
