
.tag {
  display: inline-block;
  font-size: .75em;
  text-transform: uppercase;
  margin-bottom: .5em;
  padding: .2em .6em;
  color: white;
  background-color: $vc-burgundy;
  border-radius: 5px;
  font-family: $sans-serif;
  
  a {
    color: white;
  }
}

.section-heading {
  font-size: 1.4em;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-top: 1em;
  margin-bottom: .5em;
  
  a {
    color: $font-color;
  }
}

.widgettitle {
  @extend .section-heading;
  font-size: 1em;
}

.textwidget {
  font-size: .85em;
}

.textwidget p {
  line-height: 1.4;
}

.clear {
	clear: both;
	display: block;
}

.right-border {
  border-right: 1px solid #ddd;
}

.divider {
  margin: 0;
  margin-top: 1em;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.section-divider {
  padding: 1px;
  border-top: 2px solid #ddd;
}

.media-credit {
  max-width: 100%
}

figure {
  font-size: .75em;
  font-family: $sans-serif;
  color: #999;
  position: relative;
  line-height: 1.2em;

  .media-credit-container {
    position: relative;
    margin: 0;
    margin-bottom: .5em;

    img {
    display: block;
    width: 100%;
    margin: 0;
    padding:0;
    max-width: 100%;
    }
    .media-credit {
      position: absolute;
      display: inline-block;
      margin: 0;
      bottom: 0;
      left: 0;
      padding: 0 5px;
      line-height: 2em;
      background-color: rgba(0,0,0,.4);
      color: rgba(255,255,255,.7);
      
      > a {
        color: rgba(255,255,255,.7);
        text-decoration: underline;
      }
    }
  }
}

a {
  z-index: 1;
  position: relative;
}

a.link-overlay {
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

ul.page-numbers {
  font-size: .9em;
  font-family: $sans-serif;
  text-align:center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.page-numbers li {
  display: inline-block;
}

li > .page-numbers {
  padding: 2px 4px;
  margin:0;
  border: 1px solid #eee;
  border-radius: 2px;
  text-decoration: none;
  line-height: 1;
  
  &:hover {
    background: #f9f9f9;

  }
}