// Widths
$min-width: 20rem;
$mobile: 30rem;
$tablet: 48rem;
$desktop: 58rem;
$max-width: 64rem;

// Breakpoints
$larger-than-mobile : "min-width: " + $mobile;    
$larger-than-tablet : "min-width: " + $tablet;    
$larger-than-desktop: "min-width: " + $desktop; 

$smaller-than-mobile : "max-width: " + $mobile;    
$smaller-than-tablet : "max-width: " + $tablet;    
$smaller-than-desktop: "max-width: " + $desktop; 

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i');
// Fonts
$serif: Palatino, serif;
$body: 'Gentium Basic', serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospace: monospace; 

$base-font-size: 1em;
$base-line-height: 1.6em;

// Colors
//$vc-burgundy: #8C0309;
$vc-burgundy: #820202;
$accent: $vc-burgundy;

$font-color: #111;
$font-color-lighter: #555;

//$link-color: #326891;
$link-color: $vc-burgundy;
$link-visited: $link-color;


