// Widths
$mobile: 30em;// 480px / 16px
$tablet: 48em;// 768px / 16px
$desktop: 56.25em;// 900px / 16px

// Breakpoints
$larger-than-mobile : "min-width: " + $mobile;    
$larger-than-tablet : "min-width: " + $tablet;    
$larger-than-desktop: "min-width: " + $desktop; 

// Fonts
$serif: Georgia, serif;
$sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$monospace: monospace;

$base-font-size: 1em;
$base-line-height: 1.4em;

// Colors
$link-color: #1a0dab;
$link-visited: $link-color;

$vc-burgundy: #8C0309;
