// Breakpoints
$larger-than-mobile : "min-width: 30em";    // 480px / 16px
$larger-than-tablet : "min-width: 48em";    // 768px / 16px
$larger-than-desktop: "min-width: 56.25em"; // 900px / 16px

// Fonts
$serif: "Times New Roman", serif;
$sans-serif: "Helvetica", sans-serif;
$monospace: monospace;

// Colors
$link-color: #1a0dab;
$link-visited: #3025b3;
