.header-main {
	background-color: $vc-burgundy;
	background-image: url("images/seal.svg");
	background-repeat: no-repeat;
	background-position: 20% 30%;
}

.header-main .header-logo {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding:0;
}

.header-main .header-logo img {
	width: 300px;
	padding: 10px 0 5px 0;
}