/* HEADER */
.header-main {
	background-color: $vc-burgundy;
  padding-bottom: .6em;
  text-align: center;
  position: fixed;
	margin-top: -54px;
	z-index: 99999;
	height: 54px;
	width: 100%;

	.under-logo {
		display: none;
	}

	.header-logo {
		display: inline-block;
		text-align: center;
		padding:0;
		clear: both;
	}
	.header-logo img {
		width: 15em;
		padding: 1em 0 0 0;
	}
  .search-form {
    display: none;
  }
}

body {
	margin-top: 54px;
}

@media ($larger-than-desktop) {
	body {
		margin-top: 0;
	}

	.header-main {
  	background-image: url("images/seal.svg");
  	background-size: 225px 225px;
  	background-repeat: no-repeat;
  	background-position: calc(50% - 300px) 0;
		height: auto;
		margin-top:0;
		position: static;

		.under-logo {
			display: block;
			text-align: center;
			font-family: $sans-serif;

			color: white;
			font-size: .7em;
			font-weight: 300;

			em{
				font-weight: bold;
				font-style: normal;
			}
		}

		.header-logo {
      padding-top: .8em;

			img {
			  width: 500px;
				padding: 0;
			}

		}

	}
}

/* MENUS */
.header-image {
  position: relative;
}

.hamburger-icon {
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9999;
  padding: 1.25em 0 0 1em;
  margin: 0;

  .line {
    background-color: #fff;
    height: 2px;
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1)
  }

  .line:nth-child(1) {
    margin-bottom: 4px;
    width: 17px;
    margin-top: 4px;
  }

  .line:nth-child(2) {
    margin-bottom: 4px;
    width: 20px;
  }

  .line:nth-child(3) {
    width: 15px;
  }
}
.navigation-active {
  .hamburger-icon {
    .line {
      width: 20px;
    }

    .line:nth-child(1) {
      transform: translateY(295%) rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      transform: translateY(-295%) rotate(-45deg);
    }
  }
}

.main-navigation .menu {
  height: auto;
	max-height: 100vh;
  position: fixed;
  margin: 0 auto;
  top: 0;
	left: 0;
	right: 0;
  width: 17em;
  transition: transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: white;
  z-index: 9998;
  display: block;
  transform: translate3d(0, -100%, 0);
  list-style-type: none;
  padding: 0;
  padding-top: 54px;
  overflow: auto;
	padding-bottom: 1em;

  ul {
    display: none;
  }

  li {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-19em);

    a {
      padding: 1em 1em;
      margin: 0 1em;
      display: block;
      color: black;
      text-decoration: none;
      border-top: 1px solid #eee;
      font-family: $sans-serif;
      font-size: .9em;
      text-transform: uppercase;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }

    &:nth-child(2) { transition-delay: .05s; }
    &:nth-child(3) { transition-delay: .1s; }
    &:nth-child(4) { transition-delay: .15s; }
    &:nth-child(5) { transition-delay: .2s; }
    &:nth-child(6) { transition-delay: .25s; }
    &:nth-child(7) { transition-delay: .3s; }
    &:nth-child(8) { transition-delay: .35s; }
    &:nth-child(9) { transition-delay: .4s; }
    &:nth-child(10) { transition-delay: .45s; }
    &:nth-child(11) { transition-delay: .5s; }
    &:nth-child(12) { transition-delay: .55s; }
    &:nth-child(13) { transition-delay: .55s; }
  }
}

.navigation-active .main-navigation .menu {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  transform: none;

  li {
    transform: none;
  }
}

#hamburger-page-background {
  width: 0;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAHCGzyUAAAAC0lEQVQI12NgaAAAAIMAgR+3QgAAAAAASUVORK5CYII=);
  z-index: 9997;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity 0.15s 0s linear, width 0s 1s linear;
}

.navigation-active #hamburger-page-background {
  width: auto;
  opacity: 1;
}

.navigation-active {
  overflow: hidden;
}

.aux-menu {
  text-align: center;
  ul {
    display: none;
  }
}


@media ($larger-than-desktop) {
  .navigation-active #hamburger-page-background {
    display: none;
  }

  .navigation-active {
    overflow: auto;
  }

  .hamburger-icon {
    display: none;
  }

  .main-navigation {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin:0;
    padding:0;


    .menu {
      transform: none;
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      position: static;
      height: auto;
      background-color: transparent;
      width: auto;
      max-width: $max-width;
      margin: 0 auto;
      padding: 0;
      align-items: center;
      justify-content: center;
			box-shadow: none !important;

      li {
        transform: none;
        margin: 0;
        padding: 0;
        min-width: 0;
        display: inline;
        width: auto;

        a {
          background-color: transparent;
          margin: 0;
          display: inline-block;
          padding: 8px 10px;
          font-size: .85em;
          text-transform: none;
          border: none;

          &:hover {
            background-color: #ddd;
            border-radius: 0;
            text-decoration: none;

          }
        }
      }
    }
  }

  .aux-menu {
    padding: 3px 0;
    display: block;
    background: rgba(0,0,0,.1);
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        float: left;
        margin-top: 3px;

        a {
          color: white;
          font-family: $sans-serif;
          font-size: .75em;
          margin-right: 1.2em;
          text-decoration: none;
        }
      }
    }

    .aux-navigation {
      float: left;
    }

    .search-form {
      display: inline-block;
      float: right;
    }
  }


}

/* SEARCH */
.search-form {

	font-family: $sans-serif;
	font-size: .7em;
	width: 200px;
	display: block;
	margin: 0 auto;
	padding-top: 5px;

	label {
		width: 150px;
		display: inline-block;
		float: left;
		box-sizing: border-box;
	}

	input {
		box-sizing: border-box;
		display: inline-block;
		background: transparent;
		float: right;
		border: 0;
		margin: 0;
		border-radius: 3px 0 0 3px;
		outline: none;
		color: #fff;
		padding: 5px;
		background-color: rgba(0,0,0,.2);
	}

	input.search-submit {
		margin: 0;
		width: 50px;
		cursor: pointer;
		border-radius: 0 3px 3px 0;
		background-color: rgba(0,0,0,.4);
	}
}

@media ($larger-than-desktop) {
	.search-form {
		padding: 0;
	}
}
