.navigation {
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	font-family: $sans-serif;
	text-align: center;
}

#sections-button {
	display: block;
	height: 28px;
	line-height: 28px;
	color: #111;
	text-decoration: none;
}

.navigation .menu{
	display: visible;
}

.navigation .menu.hidden {
	display: none;
}

.navigation ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 5px;
	padding-top: 0;
	list-style-type: none;
}

.navigation .sub-menu {
	display: none;
}

.navigation ul li {
	flex-basis: 50%;
	margin: 0;
	padding: 0;
}

.navigation ul li a {
	text-decoration: none;
	color: #111;
	display: block;
	padding: 10px 5px;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
}