.post-title {
  font-size: 2em;
  margin: 1rem 0 .5rem;
  
  a {
    color: $font-color;
    text-decoration: none;
    font-weight: 400;
  }
}

.share-links {
  float: right;
  
  img {
    width: 1.5em;
    height: 1.5em;
  }
}

.post-meta {
  color: #999;
  font-size: .9em;
  margin: 0;
}

.featured-image {
  padding: 0;
  margin: 0;
  margin-top: .75rem;

}