.post-title {
  font-size: 2.5em;
  margin: .5rem 0 1rem;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 1rem;
  
  a {
    color: $font-color;
    text-decoration: none;
    font-weight: 600;
    display: block;
    width: 100%;
  }
}

.share-links {
  float: right;
  display: none;
  
  a { display: inline-block; }
  
  img {
    width: 2.5em;
    height: 2.5em;
    display: block;
  }
}

@media ($larger-than-mobile) {
  .share-links {
    display: block;
  }
}

.featured-image {
  padding: 0;
  margin: 0;
  margin-top: .75rem;
}

.post-category {
  margin-top: 1em;
  font-family: $sans-serif;
  padding-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: $vc-burgundy;
  
  a {
    color: inherit;
    text-decoration: none;
  }
}

.meta-block {
  padding: .75em 0;
  margin: 1em 0;
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  
  a {
    color: inherit;
  }
}

.post-author {
  font-weight: bold;
  margin-bottom: .5em;
}



.fw-normal {
  font-weight: normal;
}

.comment-respond {
  display: none;
}

.post-content {
  max-width: $tablet;
  margin: 0 auto;
  font-size: 1.1em;
}

@media ($larger-than-desktop) {
  .post-column {
    padding-right: 1rem;
  }

  .sidebar-column {
    padding-left: 1rem;
  }
}