hr.widget {
  border: 0;
  height: 0;
  border-top: 1px solid #ddd;
}

.widget {
  margin-top: 1rem;
  
  &.widget-border {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: .5em;
  }
  
  &.widget-background {
    padding: .5em;
    background-color: #eee;
  }
  
  .widgettitle {
    color: $vc-burgundy;
    font-family: $sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0;
    margin: 0;
    padding-bottom: .5em;
    font-weight: 300;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    p {
      font-size: .9em;
      line-height: 1.2em;
    }
    
    img {
      margin-bottom: 3px;
    }
    
    .title {
      font-size: 1.2em;
      margin: 0;
      line-height: 1.3em;
      
      &.title-small {
        font-size: .8em;
      }
      
      a{
        text-decoration: none;
        color: $font-color;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    .meta {
      color: $font-color-lighter;
      font-size: .75em;
      line-height: 1.2rem;
    }
  
    p {
      margin: 0;
      padding: 0;
    }
    
    li {
      margin-bottom: 1em;
      
      &:last-child {
        margin-bottom: 0;
      }
    }    
  }
}

@media ($smaller-than-tablet) {
  .widget {
    &.widget-border {
      border: none;
    }
    ul img {
      display: none;
    }
  }
}

@import "widgets/posts-large";
@import "widgets/posts-grid";
@import "widgets/posts-list";
@import "widgets/featured-list";
