.archive-page-header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.archive-page-title {
  text-align: center;
  font-size: 1.9em;
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: $break-medium) {
    font-size: 2.3em;
  }
}

.archive-description {
  margin: 0;
  margin-top: .5rem;
}

.archive-post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

/*
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }*/

  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
/*
.archive-post:first-child {
  display: flex;

  @media (max-width: $max-width) {
    flex-wrap: wrap;
  }

  .archive-featured {
    order: 0;
    margin-left: 0;
    margin-right: 1rem;
    flex-basis: 17rem;
    flex-shrink: 0;
    flex-grow: 0;

    @media (max-width: $max-width) {
      flex-basis: 100%;
      margin-bottom: .25rem;
    }
  }

  .archive-title {
    font-size: 1.7em;
  }
}
*/

.archive-pagination {
  display: flex;
  justify-content: space-between;

  a {
    padding: .3rem .5rem;
    font-size: .9rem;
    border: 1px solid #ccc;
    text-decoration: none;
    color: $text-color;

    &:hover {
      border: 1px solid #666;
      color: #000;
    }
  }
}

.archive-featured {
  float: right;
  margin: 0;
  margin-left: 1rem;
  width: 12rem;
  padding: 0;
  display: block;
  img { display: block; }

  @media (max-width: $break-medium) {
    width: 8rem;
  }
}

.archive-title {
  font-family: "Lora", Georgia, serif;
  font-weight: bold;
  margin: 0;
  color: black;
  font-size: 1.2em;

  @media (min-width: $break-medium) {
    font-size: 1.5em;
  }
}

.archive-link {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.archive-author {
  margin: 0;
  font-size: .8em;
  color: #999;
  margin: .25rem 0 0;

  a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    &:hover { text-decoration: underline; }
  }
}

.archive-excerpt {
  font-size: .93em;
  margin-top: .1rem;
  margin-bottom: 0;
  line-height: 1.5;
}
