.comments-section {
	margin-top: 2rem;
}

.comments-comments {
	margin-bottom: 1rem;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;

	&:last-child {
		border-bottom: 0;
		margin-bottom: 0;
	}
}

.comment .children {
	margin-top: 1rem;
	padding-top: 1rem;
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 5px solid #ccc;
	list-style: none;
	p {
		font-size: .91em;
	}
}

.comment .avatar {
	box-sizing: content-box;
	width: 2rem;
	height: 2rem;
	padding: .25rem;
	border: 1px solid #ccc;
	float: left;
	margin: 0 1rem 0 0;
}

.comment .fn {
	font-weight: bold;
}

.comment-metadata {
	font-size: .8em;
	color: #777;

	a {
		color: #777;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.edit-link {
		margin-left: .5rem;
	}
}

.comment .reply {
	font-size: .8em;
	font-family: $sans-serif;
	a {
		color: #888;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.comment p {
	font-size: .95em;
	margin: .5rem 0;
}


.comment-respond {
	label {
		display: block;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}

	textarea, input {
		width: 100%;
	}

	.required {
		color: red;
		vertical-align: super;
		font-size: .8em;
	}

	.submit {
		width: auto;
	}
}
