.site-footer {
  padding: 1rem;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;

  &:before {
    box-sizing: content-box;
    content: '';
    display: block;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    height: 1px;
    margin: 1rem 0;
    background-color: #fff;
    margin-top: 0;
  }
}

.foot-copyright {
  font-family: $sans-serif;
  margin-top: 2rem;
  border-top: 1px solid #e2e2e2;
  padding-top: 0.5625rem;
  margin-bottom: 4rem;
  font-size: 0.6875em;
  line-height: 0.625rem;
  color: rgb(80, 80, 80);
}

.copyright-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  .menu-item {
    padding-left: .5625rem;
    padding-right: .5625rem;
    border-right: 1px solid #999;
    display: inline-block;
  }

  .menu-item:first-child {
    padding-left: 0;
  }

  .menu-item:last-child {
    border-right: 0;
    padding-right: 0;
  }

  a {
    color: rgb(80, 80, 80);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-home-link {
  display: block;
  margin-bottom: 2rem;
}

.footer-logo {
  display: block;
  width: 14rem;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
}

.foot-nav-section {
  width: 25%;
  margin-bottom: 1.5rem;

  @media (max-width: $break-medium) {
    width: 50%;
  }

  @media (max-width: $break-small) {
    width: 100%;
  }
}

.foot-nav-title {
  font-size: .95em;
  font-family: $sans-serif;
  margin-bottom: .5rem;
  margin-top: 0;
}

.foot-nav-menu {
  font-size: .9em;
  padding: 0;
  margin: 0;
  list-style: none;

  a {
    color: #555;
    text-decoration: none;
    line-height: 1.3;

    &:hover {
      text-decoration: underline;
      color: #777;
    }
  }
}
