.front-section {
  margin: 1rem 0;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.section-title {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1em;
}

/* Regular Article */

.front-article {
  display: flex;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  position: relative;
}

.front-article:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.front-content {
  width: 65%;
  order: 1;
}

.front-image {
  order: 2;
  width: 35%;
  padding-left: 1rem;
  img {
    max-width: 100%;
    height: auto;
  }
}

.front-title {
  margin: 0;
  font-size: 1.4em;
}

.front-title-link {
  color: black;
  text-decoration: none;
}

.front-author {
  margin: 0;
  color: #666;
}

.front-excerpt {
  margin: 0;
}

/* Large Article */

.front-lg-article {
  @extend .front-article;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.1em;
}

.front-lg-content {
  @extend .front-content;
  order: 2;
  width: 100%;
}

.front-lg-image {
  @extend .front-image;
  order: 1;
  width: 100%;
  padding:0;
}

.front-lg-title {
  @extend .front-title;
}

.front-lg-title-link {
  @extend .front-title-link;
}

.front-lg-author {
  @extend .front-author;
}

.front-lg-excerpt {
  @extend .front-excerpt;
}
