.main-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.main-left {
  width: 60%;
  padding-right: 1rem;
  border-right: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: 53rem) {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
  }
}

.main-right {
  width: 40%;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (max-width: 53rem) {
    width: 100%;
    padding-left: 0;
  }
}

.split-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col-split-left {
  width: 50%;
  padding-right: .5rem;

  @media (max-width: 23.5rem) {
    width: 100%;
    padding-right: 0;
  }
}

.col-split-right {
  width: 50%;
  padding-left: .5rem;

  @media (max-width: 23.5rem) {
    width: 100%;
    padding-left: 0;
  }
}

.col-left {
  width: 33.333333333333333%;
  padding-right: .5rem;

  @media (max-width: 35rem) {
    order: 2;
    width: 100%;
    padding-right: 0;
  }
}

.col-mid {
  width: 66.66666666666666%;
  padding-left: .5rem;

  @media (max-width: 35rem) {
    order: 1;
    width: 100%;
    padding-left: 0;
  }
}

.col-full {
  width: 100%;
}

.col-title {
  width: 100%;
  display: block;
  margin: 0;
  text-align: center;
  margin-bottom: .5em;
  font-size: 1em;
  font-family: $serif;
}

.col-big-title {
  font-size: 1.7em;
}

/* front-___.php */
.front-article {
  margin-bottom: 1rem;
}

.front-category {
  font-size: 0.625em;
  line-height: 1.1;
  color: #4d4d4d;
  margin: 0;
  text-transform: uppercase;
  font-family: $sans-serif;
}

.front-title {
  margin: 0;
  font-family: $serif;
  font-size: 1.25em;
  line-height: 1.2;
}

.front-title-link {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.front-author {
  margin: 0;
  color: #999;
  font-size: 0.625em;
  line-height: 1.2;
}

.front-excerpt {
  margin: 0;
  font-size: 0.8125em;
  line-height: 1.3846153846;
}

/* front-large.php */
.fl-article {
  font-size: 1.1em;
}

/* front-medium.php */

.fm-title {
  font-style: italic;
}

/* front-small.php */
.fs-title {
  font-size: 0.875em;
  line-height: 1.1428571429;
}

.fs-image {
  float: right;
  clear: right;
  width: 25%;
  margin: .375rem 0 .375rem .375rem;
}
