.front-main {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: 0 auto;
}

.front-section {
  width: 33.333333333333%;
}

.section-featured {
  width: 100%;
  margin-bottom: 2rem;
  margin: 0 -1rem;
}

.section-title {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1em;
  margin-bottom: 1rem;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
}

/* Regular Article */

.front-article {
  display: block;
  position: relative;
  width: 25%;
  box-sizing: border-box;
  padding: 0;
  border-right: 1px solid #ccc;
  margin-top: 1rem;
  font-size: .9em;
  padding: 0 1rem;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &:last-child {
    border: 0;
  }

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.front-article:last-child {
  border-bottom: 0;
}

.front-content {
  /* */
}

.front-image {
  display: block;
  padding-bottom: 1rem;

}

.front-title {
  margin: 0;
  font-family: 'Gentium Basic';
  font-size: 1.4em;
}

.front-title-link {
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 1;

  &:hover {
    text-decoration: underline;
  }
}

.front-author {
  margin: 0;
  color: #666;
  font-family: $sans-serif;
  font-size: .9em;
}

.front-excerpt {
  margin: 0;
  padding: .25em 0;
  line-height: 1.4;
}

/* Large Article */

.section-featured .front-article:first-child {
  @extend .front-article;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0;
  border-right: 0;
  margin: 0 1rem;
  padding: 0;

  .front-image {
    @extend .front-image;
    width: 60%;
    padding-right: 2rem;
  }

  .front-content {
    @extend .front-content;
    order: 2;
    width: 40%;
    text-align: center;
    font-size: 1.3em;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .front-title {
    @extend .front-title;
    font-size: 2em;
  }

  .front-title-link {
    @extend .front-title-link;
  }

  .front-author {
    @extend .front-author;
  }

  .front-excerpt {
    @extend .front-excerpt;
    padding: .5em 0;
  }
}

/* Front List */
.article-list {
  border: 0;
  margin: 0;
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  margin: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

.front-list-image {
  width: 25%;
  padding-right: 1rem;
}

.front-list-content {
  width: 75%;
}

.front-list-title {
  @extend .front-title;
  font-size: 1.2em;
}

.front-list-title-link {
  @extend .front-title-link;
}

.front-list-author {
  @extend .front-author;
}
