.front-ad-area {
  text-align: center;
}

.sticky {
  display: block;
}

/* Front section */
.front-section {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.section-featured {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

/* Front Article */
.front-article {
  margin-bottom: 1rem;
  margin-top: 0;
  width: 100%;
}

.front-article::after,
.front-wrap::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.front-image {
  display: block;
  img { display: block; }
}

.front-category {
  font-family: $sans-serif;;
  text-transform: uppercase;
  margin: 0;
  font-size: 0.75em;
  color: #4d4d4d;
  letter-spacing: 0;
  margin-bottom: 2px;

  a {
    color: #4d4d4d;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.front-title {
  font-family: $serif;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.01em;
  word-spacing: -0.1em;
  color: $text-color;
}

.front-title-link {
  color: $text-color;
  text-decoration: none;
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.front-author {
  margin: 0;
  font-size: .8em;
  color: #999;
  margin: .25rem 0 0;

  a {
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    &:hover { text-decoration: underline; }
  }
}

.front-excerpt {
  font-size: .95em;
  margin-top: .1rem;
  margin-bottom: 0;
  line-height: 1.5;
}

/* Front Large */
.fl-article {
  width: 100%;

  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  @media (min-width: 55rem) {
    display: flex;
  }

}

.fl-image {
  margin-bottom: .625rem;

  @media (min-width: $break-medium) {
    padding-left: 1rem;
    order: 2;
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.fl-content {
}

.fl-title {
  font-size: 1.5em;

  @media (min-width: $max-width) {
    font-size: 2em;
    line-height: 1.2;
  }
}

/* Front Medium */
.fm-article {


  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  @media (min-width: $break-medium) {
    width: 50%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;

    &:nth-child(2n+1) {
      .fm-wrap {
        padding-right: 1rem;
        border-right: 1px solid #ccc;
      }
    }

    &:nth-child(2n) {
      padding-left: 1rem;
    }

    &:nth-last-child(-n+2) { /* Last 2 elements */
      border-bottom: 0;
    }
  }
}

.fm-image {
  float: right;
  width: 6rem;
  padding: .5rem 0 .25rem .5rem;

  @media (max-width: $break-medium) {
    width: 8rem;
    padding-bottom: 0;
  }
}

.fm-title {
  font-style: italic;
}

/* Front Normal */
.fn-article {
  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
}

.fn-wrap {
  width: 100%;
}

.fn-image {
  width: 6rem;
  float: right;
  padding: 0 0 0 .5rem;
}

.fn-title {
  font-size: 1.125em;
  font-weight: bold;

  @media (min-width: $max-width) {
    font-size: 1.3em;
  }
}

@media (min-width: $break-medium) {
  .grid {
    margin: 0 -1rem 0 -1rem;
  }

  .fn-article {
    width: 33.33333333333333%;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding-bottom: 1rem;

    .fn-wrap {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &:nth-child(3n+2) {
      .fn-wrap {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }
    }

    &:nth-last-child(-n+3) { /* Last three elements */
      border-bottom: 0;
    }
  }

  .fn-image {
    float: none;
    width: 100%;
    padding: 0;
    padding-bottom: .3rem;
  }
}
