.site-header {
  background-color: $color-burgundy;
  z-index: 99;
  position: relative;
}

.header-container {
  text-align: center;
  height: 2.875rem;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  position: relative;
  max-width: $max-width;
  margin: 0 auto;

  @media (min-width: 34rem) {
    display: block;
    height: auto;
    text-align: center;
  }
}

.site-logo {
  display: block;
  width: 13rem;
  padding: .5rem;
  padding-left: 1rem;
  box-sizing: content-box;

  @media (min-width: 34rem) {
    width: 20rem;
    margin: 0 auto;
    padding: 1rem 0;
  }

  @media (min-width: 45rem) {
    width: 33rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

.site-subtitle {
  display: none;
  color: white;
  font-family: $sans-serif;
  font-size: .9em;
  padding-bottom: 1rem;

  @media (min-width: 45rem) {
    display: block;
  }
}

.hamburger-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
  width: 1.25rem;
  box-sizing: content-box;

  .line {
    background-color: #fff;
    height: .125rem;
    width: 100%;
    transition: all 0.55s cubic-bezier(0.19, 1, 0.22, 1);

    &:nth-child(1) {
      margin-bottom: .25rem;
    }

    &:nth-child(2) {
      margin-bottom: .25rem;
    }
  }

  @media (min-width: 45rem) {
    display: none;
  }
}

.navigation-active {
  .hamburger-icon {
    .line {
      width: 1.25rem;
    }

    .line:nth-child(1) {
      transform: translateY(295%) rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(3) {
      transform: translateY(-295%) rotate(-45deg);
    }
  }
}

.hamburger-background {
  width: 0;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAHCGzyUAAAAC0lEQVQI12NgaAAAAIMAgR+3QgAAAAAASUVORK5CYII=);
  z-index: 98;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}


.hn {
  background-color: #780202;
}

.hn-container {
  position: relative;
  background-color: #660202;
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
  display: flex;

  @media (min-width: 45rem) {
  }
}

.hn-element {
  color: white;
  text-decoration: none;
  line-height: 2.25rem;
  font-size: 1rem;
}

.hn-menu {
  margin: 0;
  padding: 0;
  padding-left: .5rem;
  list-style: none;
  display: flex;
  height: 2.25rem;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

}

.hn-menu li {
  margin: 0;
  padding: 0;
  padding-left: 0.625rem;
  padding-right: 0.625rem;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 3rem;
  }
}

.hn-menu li a {
  @extend .hn-element;

  &:hover {
    text-decoration: underline;
  }
}

.hn-home {
  @extend .hn-element;
  background: url('img/home.svg');
  background-size: 0.9375rem 1.125rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  width: 2.5rem;
  // background-color: #4D0101;
  display: block;
}

.hn-search {
  display: block;
  position: absolute;
  width: 1rem;
  top: 0;
  right: 0;
  padding: 0.625rem;
  box-sizing: content-box;
  background-color: #660202;
}
