.site-header {
  color: black;
  background: #7E0308;
  position-color: relative;
}

.header-container {
  max-width: $max-width;
  z-index: 3;
  position: relative;
  background-color: #7E0308;
  margin: 0 auto;
  background-image: url('img/seal.svg');
  background-size: 14rem 14rem;
  /* background-image: url('img/seal-burgundy.svg'); */
  /* background-size: 156px 156px; */
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  /* background-position: 42px 0px; */
  padding-top: 1.875rem;
  /* margin-top: 1.875rem; */
  /* margin-bottom: .5rem; */
  padding-bottom: .5rem;

  @media (max-width: $break-medium) {
    background-image: none;
  }

  @media (max-width: $break-nav) {
    height: 3rem;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 1rem; */
  }
}

.head-search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  background-image: url('img/search.svg');
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $break-nav) {
    display: none;
  }
}

.search-active .head-search-button {
  background-color: white;
  background-image: url('img/close.svg');
  background-size: 1.1rem;
}

.header-search-form {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.search-active .header-search-form {
  display: block;
}

.site-name {
  text-align: center;
  padding: 0;
  margin: 0;
}

.site-title {
  display: block;
  margin: 0 auto;
  color: transparent;
  position: relative;
  padding: 0 1rem;
}

.site-logo {
  width: 75%;
  margin: 0 auto;
  height: auto;
  display: block;
  @media (max-width: $break-nav) {
    width: 15rem;
  }
}

.site-subheading {
  text-align: right;
  padding: 0;
  margin: 0;
  display: block;
  font-family: $serif;
  font-style: italic;
  color: rgb(255, 228, 229);
  /* color: rgb(124, 70, 71); */
  font-size: 1.05em;
  margin-right: 5rem;
  margin-top: .4rem;
  padding-bottom: .25rem;

  @media (max-width: $break-medium) {
    text-align: center;
    margin-right: 0;
    font-size: .9em;
  }

  @media (max-width: $break-nav) {
    display: none;
  }
}

.hn {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding: 0 1rem;
  /* border-top: 1px solid #000; */
  /* border-bottom: 2px solid #000; */
  background-color: #fafafa;
  border-bottom: 1px solid #e9e9e9;

  @media (max-width: $max-width) {
    padding: 0;
  }
}

.hn-container {
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;
}

.hn-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (max-width: $max-width) {
    padding: 0 1rem;
  }

  @media (max-width: $break-nav) {
    display: none;
  }
}

.hn-menu {
  a {
    color: $text-color;
    font-family: $sans-serif;
    font-size: 0.9em;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    padding-right: 1.25rem;
    line-height: 2.4rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hn-mobile-show {
  position: relative;
  z-index: 2;
  display: none;
  font-size: .95em;
  font-family: $sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.8;
  color: $text-color;
  text-decoration: none;

  @media (max-width: $break-nav) {
    display: block;
  }
}

.menu-active .hn-mobile-show {
  box-shadow: rgb(170, 170, 170) 3px 3px 10px 0px;
}

@media (max-width: $break-nav) {
  .menu-active .hn-menu {
    display: flex;
    justify-content: flex-start;
    background-color: #eaeaea;
    padding-top: .5rem;

    .menu-item {
      width: 50%;
    }

    a {
      display: block;
      width: 100%;
      line-height: 2rem;
      padding: 0;
    }

    a:hover {
      text-decoration: none;
      background-color: #dedede;
    }
  }
}

.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.search-active .page-overlay {
  display: block;
}
