.content-container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  @media (max-width: 47rem) {
    max-width: 36rem;
  }
}

.main-content {
  padding-right: 1.3rem;
  width: calc(100% - 20rem);
  border-right: 1px solid #ccc;

  @media (max-width: 47rem) {
    width: 100%;
    border-right: 0;
    padding-right: 0;
  }
}

.main-sidebar {
  width: 20rem;
  padding-left: 1.3rem;
  @media (max-width: 47rem) {
    width: 100%;
    border-right: 0;
    padding-left: 0;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.section-title,
.widgettitle {
  width: 100%;
  flex: 100%;
  font-size: 1em;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  color: #666;
  margin-top: 0;
}
