.content-container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: white;

  @media (max-width: $max-width) {
    max-width: 55rem;
  }

  @media (max-width: $break-medium) {
    max-width: 47rem;
  }

  @media (max-width: $break-small) {
    max-width: 36rem;
  }
}

.main-content {
  padding-right: 1.3rem;
  width: calc(100% - 20rem);
  border-right: 1px solid #ccc;

  @media (max-width: $break-small) {
    width: 100%;
    border-right: 0;
    padding-right: 0;
  }
}

.main-sidebar {
  width: 20rem;
  padding-left: 1.3rem;
  @media (max-width: $break-small) {
    width: 100%;
    border-right: 0;
    padding-left: 0;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.section-title,
.widgettitle {
  width: 100%;
  flex: 100%;
  font-size: .92em;
  margin-bottom: 1rem;
  padding-bottom: .6rem;
  font-weight: bold;
  color: $text-color;
  margin-top: 0;
  border-bottom: 1px solid #ccc;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.section-title::before,
.widgettitle::before {
  //border-bottom: 1px solid #ccc;
  //border-top: 2px solid #ccc;
  border-top: 2px solid #000;
  border-left: 0;
  border-right: 0;
  box-sizing: content-box;
  content: '';
  display: block;
  height: 1px;
  margin: 0 0 .6rem;
}

/*,
.widget:not(:first-child)::before */
