/*
 * Sidebar Stylesheet
 */

.widget {
  margin-bottom: 1rem;
  width: 100%;

  .search-form {
    @media(max-width: $break-medium) {
      display: none;
    }
  }
}

/* Search */
.search-form {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  position: relative;
}

.search-input {
  border: 1px solid rgb(224, 224, 224);
  color: rgb(79, 79, 79);
  width: 100%;
  padding: 0.625rem;
  font-size: .8em;
  padding-right: 2.625rem;
}

.search-submit {
  float: right;
  background-color: transparent;
  background-image: url('img/search-black.svg');
  background-size: 1.125rem 1.125rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.625rem;
  width: 2.625rem;
  border: 0;
  cursor: pointer;
}

.textwidget {
  font-family: $sans-serif;
  font-size: .82em;
  line-height: 1.4;
}


.side-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1rem;
}

.side-column {
  width: 100%;
}

.side-article {
  width: 100%;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.side-article:nth-child(3n) {
  margin: 0;
  padding: 0;
  border: 0;
}

.side-column:nth-child(2) {
  border-left: 1px solid #ccc;
  padding-left: 1rem;
}

.side-column:nth-child(1) {
  padding-right: 1rem;
}
/*
 @media(min-width: $break-medium) {
  .sidebar-single {
    align-self: flex-start;
    position: sticky;
    top: 1em;
  }
}
*/
