/*
 * Sidebar Stylesheet
 */

.widget {
  margin-bottom: 1rem;
  width: 100%;
}

/* Search */
.search-form {
  margin: 0;
  padding: 0;
  font-family: $sans-serif;
  position: relative;
}

.search-input {
  border: 1px solid rgb(224, 224, 224);
  color: rgb(79, 79, 79);
  width: 100%;
  padding: 0.625rem;
  font-size: .8em;
  padding-right: 2.625rem;
}

.search-submit {
  float: right;
  background-color: transparent;
  background-image: url('img/search-icon.svg');
  background-size: 1.125rem 1.125rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.625rem;
  width: 2.625rem;
  border: 0;
  cursor: pointer;
}

.textwidget {
  font-family: $sans-serif;
  font-size: .75em;
  line-height: 1.5;
}