
.post-featured-image-figure {
  margin: 0;
}

.post-featured-image {
  margin: 0 auto;
  height: auto;
  display: block;
}

.post-title {
  margin: 0;
  font-family: $serif;
  font-size: 1.5em;
  font-weight: bold;

  @media (min-width: $break-small) {
    font-size: 2em;
  }

  @media (min-width: $break-medium) {
    font-size: 2.5em;
  }

  @media (min-width: $max-width) {
    font-size: 2.75em;
  }
}

.post-title-link {
  display: block;
  color: $text-color;
  text-decoration: none;
}

.post-meta {
  margin: .5rem 0 1rem 0;
  font-size: .8em;

  @media (min-width: $break-medium) {
    font-size: .9em;
  }

  @media (min-width: $break-large) {
    font-size: .93em;
  }

  p {
    margin:0;
  }

  a {
    color: #999;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pcl-comma:last-child {
  display: none;
}

.post-author {
  font-weight: bold;
  a {
    color: $text-color;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.meta-small {
  font-size: .9em;
}

.post-content {
  max-width: 34rem;
  margin: 0 auto;
}

/* Comments */

.comments-section {
  padding-bottom: 1rem;
}

.comment-form-comment {
  textarea {
    max-width: 100%;
  }
}
