/* Recommended for content width https://codex.wordpress.org/Content_Width */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0.3125rem auto 0.3125rem auto;
}

.alignright {
    float:right;
    margin: 0.3125rem 0 1.25rem 1.25rem;
}

.alignleft {
    float: left;
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

a img.alignright {
    float: right;
    margin: 0.3125rem 0 1.25rem 1.25rem;
}

a img.alignnone {
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

a img.alignleft {
    float: left;
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    padding: 0.3125rem 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

.wp-caption.alignleft {
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

.wp-caption.alignright {
    margin: 0.3125rem 0 1.25rem 1.25rem;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
		display: block;
}

.wp-caption a {
	display: block;
}

.wp-caption-text {
  display: block;
  font-family: $sans-serif;
  font-size: .7em;
  line-height: 1.3;
  color: #6e6e6e;
	padding: 0.3125rem 0 0.3125rem;
  em {
    font-style: normal;
  }
}

@media (min-width: $max-width) {
  .wp-caption.alignright,
	img.alignright {
    margin-right: -3rem;
  }
  .wp-caption.alignleft,
	img.alignleft {
    margin-left: -3rem;
  }
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 0.3125rem;
	line-height: normal;
	padding: 10.3125rem 23px 14px;
	text-decoration: none;
	top: 0.3125rem;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
