.widget-featured-list ul {
  h1.title {
    font-size: 1em;
  }
  
  li {
    margin-bottom: .5em;
  }
  
  li.normal-list {
    list-style-type: disc;
    margin-left: 1em;
    margin-bottom: 0;
    font-size: .9em;
    
    a:hover {
      text-decoration: underline;
    }
  }
} 