/* Horizontal_Grid */

.widget-horizontal-grid {
  ul {
    display: flex;
    flex-direction: row;
    margin-left: -1rem;
    margin-right: -1rem;

    li {
      position: relative;
      padding: 0 1rem 1rem;
      margin-bottom :0;
      border-right: 1px solid #ddd;
      
      &:last-child {
        border: 0;
      }
    }
  }
}