/* Single Large Post */

.widget-large-post {
  .title {
    font-size: 1.4em;
  }
}

.home-featured .widget-large-post {
  text-align: center;
  margin-bottom: 2rem;
  
  .title {
    font-size: 1.75em;
  }
  
  .excerpt {
    font-size: 1.1em;
  }
}