/* Posts-Large */

.widget-posts-large ul {
  font-size: 1em;

  li {
    margin-bottom: 1em;
    
    ul.widget-posts-large img {
      display: block;
    }
    
    h1.title {
      font-size: 1.5em;
    }
  }
}