.post {
  .title {
    font-weight: normal;
    font-size: 2.2em;
    margin-bottom: .1em;
    a {
      text-decoration: none;
    }
  }

  .post-meta {
    color: #999;
    font-size: .9em;
   /* font-family: $sans-serif;*/
  
    .meta-author {
      font-size: 1em;
    }
  }

  .featured-image {
    width: 100%;
    margin: 1em 0;
  }
}

.share-links {
  float: right;
  .share-image {
    width: 1.5em;
    height: 1.5em;
  }
}