.header-main {
	background-color: $vc-burgundy;
	
	.header-image {
		background-image: url("images/seal.svg");
		background-size: 200px 200px;
		background-repeat: no-repeat;
		background-position: 10% 5%;
		padding-top: 10px;
	}
	
	.under-logo {
		display: none;
	}
	
	.header-logo {
		display: block;
		margin: 0 auto;
		text-align: center;
		padding:0;
		clear: both;
	}
	.header-logo img {
		width: 300px;
		padding: 10px 0 5px 0;
	}
}

@media ($larger-than-tablet) {
	.header-main {
		
		.under-logo {
			display: block;
			text-align: center;
			font-family: $sans-serif;
			padding-bottom: 1em;
			color: white;
			font-size: .7em;
			font-weight: 300;
			
			em{
				font-weight: bold;
				font-style: normal;
			}
		}
		
		.header-logo {
			img {
				margin-top: 5px;
			  width: 500px;
				padding: 0;
			}
			
		}
		
	}
}