.header-main {
	background-color: $vc-burgundy;
  padding-bottom: .6em;
  text-align: center;
	
	.under-logo {
		display: none;
	}
	
	.header-logo {
		display: inline-block;
		text-align: center;
		padding:0;
		clear: both;
	}
	.header-logo img {
		width: 15em;
		padding: 1em 0 0 0;
	}
  .search-form {
    display: none;
  }
}

@media ($larger-than-mobile) {
	.header-main {
  	background-image: url("images/seal.svg");
  	background-size: 225px 225px;
  	background-repeat: no-repeat;
  	background-position: calc(50% - 300px) 0;
    
		.under-logo {
			display: block;
			text-align: center;
			font-family: $sans-serif;
			
			color: white;
			font-size: .7em;
			font-weight: 300;
			
			em{
				font-weight: bold;
				font-style: normal;
			}
		}
		
		.header-logo {
      padding-top: .8em;
      
			img {
			  width: 500px;
				padding: 0;
			}
			
		}
		
	}
}