.main-navigation {
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	font-family: $sans-serif;
	text-align: center;
}

#sections-button {
	display: block;
	height: 28px;
	line-height: 28px;
	color: #111;
	text-decoration: none;
}

.main-navigation .menu{
	display: visible;
}

.main-navigation .menu.hidden {
	display: none;
}

.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 5px;
	padding-top: 0;
	list-style-type: none;
}

.main-navigation .sub-menu {
	display: none;
}

.main-navigation ul li {
  display: inline-block;
	flex-basis: 50%;
	margin: 0;
	padding: 0;
}

.main-navigation ul li a {
	text-decoration: none;
	color: #111;
	display: block;
	padding: 10px 5px;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
}

.aux-menu {
	text-align: center;
	ul {
		display: none;
	}
}

@media ($larger-than-mobile) {
	#sections-button {
		display: none;
	}
	
	.main-navigation .menu.hidden {
		display: block;
	}
	
	.main-navigation ul {
		padding: 0;
    display: block;
    
    li {
      min-width: 0;
      display: inline;
      
      a {
        background-color: transparent;
        margin: 0;
        display: inline-block;
        padding: 8px 10px;
        font-size: .85em;
		
        &:hover {
          background-color: #ddd;
          border-radius: 0;
        }
      }
    }
  }
  
	.aux-menu {
		padding: 3px 0;
		display: block;
		background: rgba(0,0,0,.1);
		ul {
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				float: left;
				margin-top: 3px;
				
				a {
					color: white;
					font-family: $sans-serif;
					font-size: .75em;
					margin-right: 1.2em;
					text-decoration: none;
				}
			}
		}
		
		.aux-navigation {
			float: left;
		}
		
		.search-form {
			float: right;
		}
		
	}
}