.featured {
  font-size: 1.1em;
  text-align: center;
  .title {
    font-size: 1.4em;
  }
}

.featured-list {
  margin-top: 1rem;
  text-align: left;
  font-size: .9em;
  display: block;
  flex-flow: row wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;

  article {
    position: relative;
    flex: 1;
    padding: 0 .5rem 1rem;
    margin-bottom: 0;
  }
}

@media ($larger-than-mobile) {
  .featured-list article {
    border-left: 1px solid #ddd;
    flex-basis: 50%;
  
    &:first-child {
        border: 0;
    }
  }
}

@media ($larger-than-tablet) {
  .featured-list article {
    flex-basis: 20%;
  }
  
  &:nth-child(3) {
    border: 0;
  }
}

.featured,
.featured-list {
  img {
    margin-bottom: .5em;
  }
}

@media ($larger-than-mobile) {
  
  .featured-list {
    display: flex;
  }
}

@media ($larger-than-tablet) {
  .featured {
    img {
      margin-bottom: 0;
    }
  }
}

@media ($smaller-than-tablet) {
  .featured-list {
    img {
      display: none
    }
  }
}

.category-list {
  padding-bottom: 1rem;
  font-size: .9em;
  
  article{
    margin-top: .5em;
  }
}

