.featured {
  font-size: 1.1em;
  text-align: center;
  .title {
    font-size: 1.4em;
  }
}

.featured-list{
  margin-top: 1rem;
  font-size: 1em;
}

.featured,
.featured-list,
.featured-excerpts {
  img {
    margin-bottom: .5em;
  }
}

@media ($larger-than-tablet) {
  .featured {
    img {
      margin-bottom: 0;
    }
  }
}

@media ($smaller-than-tablet) {
  .featured-list,
  .featured-excerpts {
    img {
      display: none
    }
  }
}

.category-list {
  article{
    margin-top: .5em;
    font-size: .9em;
    
    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.featured-excerpts {
  article {
    font-size: .9em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ddd;
    
    &:last-child { border: 0; }
  }
}

.front-page .border-right {
  border-right: 0;
}

@media ($larger-than-mobile) {
  .front-page .border-right.small-8 {
    border-right: 1px solid #ddd;
  }
}

@media ($larger-than-tablet) {
  .front-page .border-right.medium-3 {
    border-right: 1px solid #ddd;
  }
}
